name: docker

on:
  push:
    branches: [master]
    tags: ["v*.*.*"]
  repository_dispatch:
    types: [tagged]

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: vars
        run: |
          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            echo "TAG=${GITHUB_REF_NAME}" >>"$GITHUB_OUTPUT"
            echo "EXTRA=latest"           >>"$GITHUB_OUTPUT"
          else
            echo "TAG=rc"            >>"$GITHUB_OUTPUT"
            echo "EXTRA="                 >>"$GITHUB_OUTPUT"
          fi

      - name: Build and push image
        run: |
          IMAGE=$(echo "ghcr.io/${{ env.IMAGE_NAME }}" | tr '[:upper:]' '[:lower:]')
          docker build -f docker/Dockerfile -t "$IMAGE:${{ steps.vars.outputs.TAG }}" .
          docker push "$IMAGE:${{ steps.vars.outputs.TAG }}"

          if [[ -n "${{ steps.vars.outputs.EXTRA }}" ]]; then
            docker tag "$IMAGE:${{ steps.vars.outputs.TAG }}" "$IMAGE:${{ steps.vars.outputs.EXTRA }}"
            docker push "$IMAGE:${{ steps.vars.outputs.EXTRA }}"
          fi
